*{
    margin: 0px;
}
h1{
    text-align: center;
}

header{
    background-color: red;
}

nav{
    margin: 10px;
}
img{
    width: 400px;
    height: 400px;
}

section{
    display: flex;
    flex-direction: column;
    background-color: red;
}

main{
    display: flex;
    justify-content: space-between;
    background-color: slategray;
}